@import url(font-family: 'Montserrat', sans-serif;);

/*Reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*meu estilo*/
html,
body{
     font-family:'montserrat', sans-serif;
}

h2{
   font-size: 1,8rem;
   text-align: center;
   text-transform: uppercase;
   font-weight: 500;
   padding-bottom: 50px; 
}

h4{
   font-size: 1,3rem;
   text-transform: uppercase;
   padding-bottom: 20px;
   font-weight: 500;
}

p {
   font-size: 1rem;
   margin: 10px 0;
   line-height: 1,7rem;
}

a {
     text-decoration: none;
}

/* clases*/

.container {
    margin: auto;
    max-width: 1300;
    overflow: auto;
    padding: 0 20px;

}
.img-perfil{
  border-radius:50% ;

}