@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,400;1,500&display=swap");

/*Reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*meu estilo*/
html,
body{
     font-family:'montserrat', sans-serif;
}

h2{
   font-size: 25px;
   text-align: center;
   text-transform: uppercase;
   font-weight: 500;
   padding-bottom: 50px; 
}

h4{
   font-size: 20px;
   text-transform: uppercase;
   padding-bottom: 20px;
   font-weight: 500;
}

p {
   font-size: 16px;
   margin: 10px 0;
   line-height: 1,7em;
}

a {
     text-decoration: none;
}

/* clases*/

.container{
    margin: auto;
    max-width: 1300px;
    overflow: auto;
    padding: 0 20px;
} 
.img-perfil{
  border-radius:50%;
}

.esperiencia-1{
   font-size: 20px;
}
/* botao projeto */

.btn {
   display: inline-block;
   font-size: 15px;
   padding: 15px 40px;
   letter-spacing: 1px;
}

.botao-projeto:hover{
   background: #fff;
   color: #000;
}

/*navbar*/

#navbar {
   overflow: auto;
   padding-top: 20px;
   padding-bottom: 20px;
}

#navbar {
   color: #000;
}

#navbar .logo{
   float: left;
   padding-top: 16px;
}

.img-perfil{
   height: 150px;
}

#navbar ul {
   list-style: none;
   float: right;
}

#navbar ul li {
   float: left;

}

#navbar ul li a {
   display: block;
   padding: 20px;
   text-align: center;
}

#botao {
background: url(./img/hello-world.jpeg);
height: 500px;

}

.botao-projeto {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
}

